<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ni.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ni.Properties.Settings>
            <setting name="TargetFolder" serializeAs="String">
                <value>x</value>
            </setting>
            <setting name="SecondsBetweenCapture" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="KeepNumLockAlwaysOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepCapsLockAlwaysOff" serializeAs="String">
                <value>True</value>
            </setting>
        </ni.Properties.Settings>
    </userSettings>
</configuration>
